*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 200vh;
    width: 200vw;


}

.div-dad{
    height: 350px;
    width: 350px;
    background-color: rgb(90, 23, 70);
}

.div-son{
    height: 150px;
    width: 150px;
    background-color: yellow;
}
.tanana{
    background-color: rgb(102, 22, 22);
    width: 100px;
    height: 100px;
}